<div class="container">
  <div class="row">
<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class='messages' data-chat-room-id="<%= params[:conversation_id]%>">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class='item'>
    <div class='content'>
     <div class='header'><strong><%= user.email %></strong>     <%= message.message_time %></div>
      <div class='list'>
       <div class='item'>
        <i class='right triangle icon'></i>
         <%= message.body %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>

<%= form_for [@conversation, @message], html: {class: 'ui reply form'} do |f| %>
   <%= hidden_field_tag 'chat_room_id', params[:conversation_id] %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>
 <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
 <div>
   <%= f.submit 'Add Reply', class: 'ui blue labeled submit icon button' %>
 </div>

<% end %>

</div>
</div>
