
<div class="form-group row">
  <%= form.label :email, class:"col-sm-3" %>
  <%= form.text_field :email, type: 'email', class:"col-sm-9" %>
</div>

<div class="form-group row">
  <%= form.label :password, class:"col-sm-3" %>
  <%= form.password_field :password, class:"col-sm-9" %>
</div>

<div class="form-group row">
  <%= form.submit "Signup", class:"btn btn-primary col-sm-2 offset-sm-3" %>
  <%= link_to t(".sign_in"), sign_in_path, class:"col-sm-4" %>
</div>
